<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>🤖 CryptoSight</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mx-auto max-w-4xl my-8">
        <p class="text-4xl">🤖 CryptoSight</p>

        <hr class="my-4">

        <img src="https://i.imgur.com/UAX84hU.png" alt="Preview">

        <p class="text-3xl"> Introduction </p>
        <p class="text-lg p-2">
            CryptoSight is a Telegram bot made for cryptocurrency traders.
            This bot comes packed with many cool features and customizable options, such as automatic profit calculations whenever a trade is executed.
            
            <br>
            
            We have recently partnered with Gunbot, so you can find more details about our product <a
                class="text-blue-600"
                href="https://wiki.gunthy.org/setup-and-general-settings/preferences/telegram-notifications">here</a>.
        </p>

        <hr class="my-4" style="border-color: white;">

        <p class="text-3xl"> Features </p>
        <ul class="list-inside list-disc text-lg p-2">
            <li>Fully customized keyboard</li>
            <li>Support for multiple exchanges</li>
            <li>Detailed overview of trade history and portfolio</li>
            <li>Calculations such as win rate, Sharpe's ratio and many more..</li>
            <li>Choose between light and dark themes</li>
            <li>Directly integrated into Gunbot</li>
            <li>And many more features...</li>
        </ul>

        <hr class="my-4" style="border-color: white;">

        <p class="text-3xl"> Photo Gallery </p>

        <hr class="my-3">

        <div class="overflow-auto border border-gray-500 border-opacity-50 p-4" style="height:700px;">
            <p class="text-2xl text-gray-700"> Portfolio Overview </p>
            <div class="grid grid-cols-2 gap-6">
                <div><img src="https://i.imgur.com/IWfjNzV.jpg" alt="Light"></div>
                <div><img src="https://i.imgur.com/Ggpj0Hs.jpg" alt="Dark"></div> 
            </div>

            <!-- <hr class="my-3">

        <p class="text-2xl text-gray-700"> Volume Analysis </p>
        <div class="grid grid-cols-2 gap-4">
            <div><img src="https://i.imgur.com/4hoFBRp.jpg" alt="Light"></div>
            <div><img src="https://i.imgur.com/nM8cGoE.jpg" alt="Dark"></div>
        </div> -->

            <hr class="my-3">

            <p class="text-2xl text-gray-700"> Trade History </p>
            <div class="grid grid-cols-2 gap-6">
                <div><img src="https://i.imgur.com/HAnZz9S.jpg" alt="Light"></div>
                <div><img src="https://i.imgur.com/5BLU1uR.jpg" alt="Dark"></div>
            </div>

            <hr class="my-3">

            <p class="text-2xl text-gray-700"> Customized Keyboard </p>
            <div class="grid grid-cols-2 gap-6">
                <div><img src="https://i.imgur.com/qr24zp3.png" alt="Main"></div>
                <div><img src="https://i.imgur.com/dKurh3X.png" alt="Settings"></div>
            </div>
        </div>

        <!-- <hr class="my-3 text-gray-700">

        <p class="text-2xl"> Extra </p>
        <div class="grid grid-cols-2 gap-4">
            <div><img src="https://i.imgur.com/kovkI6S.jpg" alt="Notifications"></div>
            <div><img src="https://i.imgur.com/16xnYtz.jpg"></div>
        </div> -->

        <hr class="my-3">

        <span class="text-xl"><a class="text-blue-600" href="https://github.com/moxis/cryptosight.io">cryptosight.io</a>
            is maintained by <a class="text-blue-600" href="https://github.com/moxis">moxis</a> 🤓</span>
    </div>
</body>

</html>